/*web styles*/
*  {
  font-size: 100%;
  margin: 1;
  line-height:2;
  box-sizing: border-box;

  /*border: 5px double DeepPink; */
}

body  {
   background-image: url(b3.jpg);
   background-repeat: repeat;
   text-align:center;
   font-family: 'Ubuntu', sans-serif;
   background-color:black;
   color: indigo;
   border: 5px double #4dffff;
   font-size: 16px
   font-weight:normal;
   margin: 50px;
}

h1 {
  text-align: left;
  color: indigo;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  box-shadow: 0 0 5px 2px #4dffff;
  font-size: 36px

}
h2 {
  color: indigo;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px #4dffff;
  font-size: 36px

}

}
h3 {
  color: indigo;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px #4dffff;
  font-size: 36px

}

h1,h2,h3 {
  font-style:italic;
  margin-bottom:20px
}
}
p {
  font-size: 14px
  line-height: 2;
  margin: 15px 0;
}

ul,ol {
  margin:15px 0;
}

h1 {text-align: left;
}

header h1{
  text-align:center;
}

a {
  color: pink;
  text-decoration: none
}

a:hover {
  color:pink
  text-decoration: underline;
}
header,
section,
footer {
  padding: 30px;
}

header {
  border-bottom:5px double #4dffff;
}

img {
  width: 600px;
  height: 500px

}

.title {
  font-size: 48px;
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  height: 350px;
  background-image:url(background1.jpg);
  background-size:cover
  background-position: center;
}

h3 {
  color: #4dffff;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px #4dffff;
  font-size: 36px
}

h4 {
  color: #4dffff;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px #4dffff;
  font-size: 36px
}

p3 {
  color: #4dffff;
  font-family: 'Ubuntu', sans-serif;

}

footer {
  color: #4dffff;
}

li {
  color : #4dffff;
}
