body  {
   font-family: 'Ubuntu', sans-serif;
   background-color:pink;
   color: DarkSlateBlue;
   border: 5px dotted plum;
}

h1 {
  color: purple;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px magenta;
}
h2 {
  color: purple;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px magenta;
}
<p1> {
  color:indigo;
  font-family: 'Ubuntu', sans-serif;
}
