/*web styles*/
*  {
  font-size: 105%;
}


body  {
   font-family: 'Ubuntu', sans-serif;
   background-color:black;
   color: DeepPink;
   border: 5px double DeepPink;
   font-size: 16px
}

h1 {
  color: DeepPink;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px DeepPink;
  font-size: 36px

}
h2 {
  color: DeepPink;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px DeepPink;
  font-size: 36px

}

}
h3 {
  color: DeepPink;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 5px 2px DeepPink;
  font-size: 36px

}
p1 {
  font-size:16px
}
